.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url(https://c.wallhere.com/photos/9b/ba/nebula_stars_space_green_galaxy_TylerCreatesWorlds_space_art_artwork-246432.jpg!d);
  background-size: cover;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
