.sidebar-container {
  width: calc(var(--board-size) / 4.13);
  min-height: calc(var(--board-size) - 6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  background: var(--board-color);
  padding: 3rem;
  border-radius: 13px;
}
